body {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma;
}

.hero-image{
  height: 800px;
  background-image:linear-gradient(rgba(0,0,0,0.9), 
  rgba(0,0,0,0.5)), 
  url(../images/logo.webp);
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  display:flex ;
  justify-content: center;
  align-items: center;
}

.hero-image .hero-text{
  color: goldenrod;
  text-align: center;
}

.hero-image .hero-text h1{
  font-size: 60px;
  font-weight: 500px;
}

.hero-text p{
  font-size: 40px;
  font-weight: 500;
  line-height: 10px;
}

.hero-btn{
  text-decoration: none;
  color: black;
  background: greenyellow;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}

.hero-btn:hover{
background: yellow;
color:black;
}